:root {
	--cColor: #3f678b;
	--cLink: rgb(from var(--cColor) r g b / 45%);
	--cMain: #ffffffe6;
	--cAside1: #fdbc08;
	--cAside2: #fca95bd2;
	--cFoot1: #f85466e6;
	--cFoot2: #d11c00e6;

	--cBlack: black;
	--cWhite: white;
	--cFocus: lightyellow;

	--cShade1: lightgreen;
	--cShade2: lightsalmon;
	--cShadeSec1: lightblue;
	--cShadeSec2: lightcoral;

	--cSub: lightseagreen;
	--cModify: #fff2c9e6;
	--cRemove: #ffcfcfe6;
	--cSmooth: #ffffff8e;
	--cText: #000000;
	--cFormBorder: gray;

	--wAside: 250px;
}

* {
	scrollbar-width: thin;
}

html {
	position: absolute;
	inset: 0;
}

.background {
	color: var(--cText);
	margin: 0;
	font-family: Cambria, Georgia, Times;
	background-image: url(../Recursos/back_img.jpg);
	background-size: cover;
	background-position: center;
}

.main {
	margin: 10px;
	padding-block: 20px;
	border-radius: 30px;
	background-color: var(--cMain);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

svg {
	aspect-ratio: 1 / 1;
	fill: currentColor;
}

re-foot {
	display: block;
	margin: 10px;
	padding: 10px;
	border-radius: 30px;
	background-image: linear-gradient(to right, var(--cFoot1), 75%, var(--cFoot2));

	> * {
		margin: 0px 0px 0px 50px;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 5px;

	> * {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

input, textarea, select {
	color: inherit;
	background-color: var(--cSmooth);
	border: 1px solid var(--cFormBorder);
	border-radius: 2px;

	&:focus {
		background-color: var(--cFocus);
	}
}

textarea {
	padding-left: 5px;
}

button {
	color: buttontext;
	mix-blend-mode: exclusion;
}

@media (prefers-color-scheme: dark) {
	:root {
		--cColor: #6592ba;
		--cMain: #282828c4;
		--cAside2: #4d2805d2;
		--cFoot1: #913842e6;
		--cFoot2: #711d10e6;

		--cBlack: #e0e0e0;
		--cWhite: #1e1e1e;
		--cFocus: #282828;

		--cShade1: #2e662e;
		--cShade2: #753922;
		--cShadeSec1: #305967;
		--cShadeSec2: #522121;

		--cSub: #8cdbd799;
		--cModify: #5c5233e6;
		--cRemove: #543030e6;
		--cSmooth: #0000008e;
		--cText: #ffffff8e;
	}
}

@media (forced-colors: active) {
	re-foot {
		background-color: canvas;
	}
}