:root {
	--cColor: #3f678b;
	--cLink: #3f678b70;
	--cMain: #ffffffe6;
	--cAside1: #fdbd08;
	--cAside2: #fca85b;
	--cFoot1: #f85466e6;
	--cFoot2: #d11c00e6;

	--cBlack: black;
	--cWhite: white;
	--cFocus: lightyellow;

	--cShade1: lightgreen;
	--cShade2: lightsalmon;
	--cShadeSec1: lightblue;
	--cShadeSec2: lightcoral;

	--cSub: lightseagreen;
	--cModify: #fff2c9e6;
	--cRemove: #ffcfcfe6;
	--cSmooth: #ffffff8e;
	--cFormBorder: gray;

	--wAside: 130px;
}

* {
	scrollbar-width: thin;
}

html {
	position: absolute;
	inset: 0;
}

.background {
	margin: 0;
	font-family: Cambria, Georgia, Times;
	background-image: url(../Recursos/back_img.jpg);
	background-size: cover;
	background-position: center;
}

.main {
	margin: 10px;
	padding-block: 20px;
	border-radius: 30px;
	background-color: var(--cMain);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.title {
	color: var(--cMain);
	margin: 0px;
	padding: 5px 50px;
	border-radius: 40px;
	background-color: var(--cColor);
	font-size: 2.2em;
	text-decoration: underline;
}

re-foot {
	display: block;
	margin: 10px;
	padding: 10px;
	border-radius: 30px;
	background-color: var(--cFoot);
	background-image: linear-gradient(to right, var(--cFoot1), 75%, var(--cFoot2));

	>* {
		margin: 0px 0px 0px 50px;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 5px;

	>* {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}