.main {
	padding-top: 10px;
	gap: 0px;
}

.modifying {
	background-color: var(--cModify);
}

.removing {
	background-color: var(--cRemove);
}

.header {
	position: relative;
	right: 29px;
	display: flex;
	align-items: center;
	gap: 29px;
}

.link {
	display: flex;
	background-color: var(--cLink);
	font-size: large;
	font-weight: bold;
	text-decoration: none;
	border-radius: 25px;
	padding-right: 5px;
	border: solid var(--cColor) 5px;
	box-shadow: 0 0 10px 2px var(--cLink);
	transition: all 0.15s;

	&:hover {
		transform: scale(120%);
	}

	svg {
		width: 20px;
	}
}

form {
	width: 80%;
	max-width: 800px;
	min-width: min-content;

	> :not(:last-child) {
		border-bottom: var(--cFormBorder) 1px dotted;
		padding-bottom: 5px;
	}

	label {
		margin-left: 10px;
	}

	input,
	textarea {
		font-family: Arial;
		font-size: small;
	}

	.modify {
		flex-direction: column;
		gap: 15px;

		#copy {
			display: none;
		}

		> :not(#copy) {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:not(:has(:checked)) ~ .choose {
				display: none;
			}

			&:has(:checked) ~ .choose {
				display: flex;
			}

			&:has(#change:checked) ~ #copy {
				display: block;
			}
		}
	}

	section:has(p) {
		justify-content: space-evenly;
	}

	p {
		font-style: italic;
		margin: 0;
	}
}
