.main {
	padding-top: 10px;
	gap: 10px;
}

.modifying {
	background-color: var(--cModify);
}

.removing {
	background-color: var(--cRemove);
}

.header {
	position: relative;
	right: 29px;
	display: flex;
	align-items: center;
	gap: 29px;
}

.link {
	display: flex;
	color: var(--cBlack);
	background-color: var(--cLink);
	font-size: large;
	font-weight: bold;
	text-decoration: none;
	border-radius: 25px;
	padding-right: 5px;
	border: solid var(--cColor) 5px;
	box-shadow: 0 0 10px 2px var(--cLink);
	transition: all 0.15s;

	&::before {
		content: "";
		display: block;
		width: 20px;
		aspect-ratio: 1/1;
		background-image: url('../Recursos/arrow.png');
		background-position: center;
		background-size: cover;
		background-repeat: space;
	}

	&:hover {
		transform: scale(120%);
	}
}

form {
	width: 80%;
	max-width: 800px;
	min-width: min-content;

	> :not(:last-child) {
		border-bottom: var(--cFormBorder) 1px dotted;
		padding-bottom: 5px;
	}

	label {
		margin-left: 10px;
	}

	input,
	textarea {
		font-family: Arial;
		font-size: small;

		&:focus {
			background-color: var(--cFocus);
		}
	}

	input,
	textarea,
	select {
		background-color: var(--cSmooth);
		border: 1px solid var(--cFormBorder);
		border-radius: 2px;
	}

	.modify {
		flex-direction: column;
		gap: 15px;

		/* #copy {
			display: none;
		} */

		> :not(#copy) {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:not(:has(:checked))~.choose {
				display: none;
			}

			&:has(:checked)~.choose {
				display: flex;
			}

			&:has(#change:checked)~#copy {
				display: block;
			}
		}
	}

	button {
		mix-blend-mode: exclusion;
	}
}