:root {
	--wAside: 250px;
}

/* PRELOADER */
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--cFocus);

	&:after {
		content: " ";
		display: block;
		width: 20vmin;
		max-width: 150px;
		aspect-ratio: 1 / 1;
		margin: auto;
		border-radius: 50%;
		border: 5vmin solid var(--cAside2);
		border-color: var(--cAside2) transparent var(--cAside2) transparent;
		animation: preload 1.2s linear infinite;
	}
}

@keyframes preload {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
/* Fin de PRELOADER */

.background {
	transition: margin 0.5s;
	margin: 50px 0 0 var(--wAside);

	&:has(#hidden:checked) {
		margin: 50px 0 0 0;
	}
}

.title {
	text-align: center;
	color: var(--cMain);
	margin: 10px;
	padding: 5px 20%;
	border-radius: 40px;
	background-color: var(--cColor);
	font-size: 2.2em;
	text-decoration: underline;
}

/* ASIDE */
#hidden {
	display: none;
}

#hidden + label {
	z-index: 1;
	box-sizing: border-box;
	width: 40px;
	aspect-ratio: 1/1;
	position: absolute;
	top: 5px;
	left: var(--wAside);
	padding: 5px;
	border-radius: 0 8px 8px 0;
	background-image: linear-gradient(var(--cAside1) -5px, 1%, var(--cAside2) 100vh);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: left 0.5s;

	div {
		background-color: var(--cBlack);
		height: 2px;
		width: 100%;
		border-radius: 10px;
		transition: all 0.4s;
	}

	&:hover div {
		&:first-child {
			width: 80%;
			transform: rotate(45deg) translate(6px, 6px);
		}

		&:nth-child(2) {
			width: 0%;
		}

		&:last-child {
			width: 80%;
			transform: rotate(-45deg) translate(5px, -5px);
		}
	}
}

#hidden:checked + label:hover div {
	&:first-child {
		width: 50%;
		transform: rotate(45deg) translate(2.5px, 2px);
	}

	&:nth-child(2) {
		transform: translate(5px);
	}

	&:last-child {
		width: 50%;
		transform: rotate(-45deg) translate(2.5px, -2px);
	}
}

.aside {
	scrollbar-color: var(--cSmooth) transparent;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px 15px;
	background-image: linear-gradient(var(--cAside1), 1%, var(--cAside2));
	height: 100%;
	box-sizing: border-box;
	width: var(--wAside);
	transition: left 0.5s;
}

#hidden:checked + label {
	left: 0;
}

#hidden:checked ~ .aside {
	left: calc(-1 * var(--wAside));
}

#headerMenu {
	width: max-content;
	margin: auto;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	transition: all 0.15s;
}

#headerMenu ~ section {
	width: max-content;
	transition: all 0.15s;
	cursor: pointer;

	&[id] {
		margin-left: 5px;
	}

	&:not([id]) {
		margin-left: 25px;

		&:hover {
			transform: scale(120%);
			margin-bottom: 5px;
		}
	}
}

#home, #edit {
	margin-block: 5px;

	&::before {
		content: '';
		vertical-align: -2px;
		display: inline-block;
		width: 15px;
		height: 15px;
		background-size: cover;
		margin-right: 5px;
	}

	&::after {
		content: '';
		display: block;
		background-color: var(--cBlack);
		height: 1px;
		width: 0%;
		margin: auto;
		transition: width 0.3s ease 30ms;
	}

	&:hover {
		transform: scale(120%);

		&::after {
			width: 100%;
		}
	}
}

#home::before {
	background-image: url('../Recursos/home.png');
}

#edit::before {
	background-image: url('../Recursos/pencil.png');
}

/* FIN DE ASIDE COMO TAL */
dialog {
	border: none;
	border-radius: 5px;
	visibility: hidden;
	animation: bounce 0.7s ease-in-out 0.2s forwards;

	&:not(.security) {
		box-sizing: border-box;
		width: 90%;
		max-height: calc(100% - 8vmin);
		scrollbar-width: none;
		overflow-wrap: break-word;
		box-shadow:
			-2vmin -2vmin var(--cShade1),
			2vmin 2vmin var(--cShade2),
			0 0 10vmin var(--cBlack);

		h2 {
			margin-top: 0;
			text-align: center;
			text-transform: uppercase;
			text-decoration: underline;
		}

		.sub-title {
			margin-bottom: 20px;
			font-style: italic;
			font-weight: bolder;
			font-size: small;
			color: var(--cSub);
			filter: drop-shadow(0 0 1px var(--cWhite)) drop-shadow(0 0 1px var(--cWhite)) drop-shadow(0 0 1px var(--cWhite)) drop-shadow(0 0 1px var(--cWhite)) drop-shadow(0 0 1px var(--cWhite)) drop-shadow(0 0 1px var(--cWhite));
			text-align: center;
		}

		img {
			margin: auto;
			max-width: 25%;
			max-height: 25%;
		}

		h3 {
			margin-bottom: 5px;
		}

		.foot-page {
			text-align: end;
			font-style: italic;
			margin-bottom: 0;

			span {
				text-decoration: underline;
			}
		}
	}

	&.security {
		box-sizing: border-box;
		width: 300px;
		box-shadow:
			-2vmin -2vmin var(--cShadeSec1),
			2vmin 2vmin var(--cShadeSec2),
			0 0 10vmin var(--cBlack);
	}
}

@keyframes bounce {
	from {
		transform: scale(0);
	}

	60% {
		transform: scale(120%);
	}

	80% {
		transform: scale(80%);
	}

	to {
		transform: scale(100%);
		visibility: visible;
	}
}

#ref + article {
	display: none;
}

#ref:has(:checked) + article {
	display: block;
	flex-direction: column;

	> * {
		width: 100%;
		margin-block: 5px;
		display: flex;
		justify-content: space-between;
	}
}

#search {
	background-color: var(--cSmooth);
	border: 1px solid var(--cFormBorder);
	border-radius: 2px;
	min-width: 30%;

	&:focus {
		background-color: var(--cFocus);
	}
}

@media (width < 480px) {
	.background {
		margin: 50px 0 0 0;
	}

	.main {
		padding-top: 0;
	}

	.aside {
		box-sizing: border-box;
		width: 100%;
		left: 0;
	}

	#hidden + label {
		left: calc(100% - 40px);
	}

	#hidden:checked + label {
		left: 0;
	}

	#hidden:checked ~ .aside {
		left: -100%;
	}

	dialog:not(.security) {
		margin: auto;
		max-height: calc(100% - 4vh);
		width: 100%;

		ul {
			padding-left: 20px;
		}
	}
}