:root {
	--aside-width: 120px;
	--aside-color: #c2f2e3;
}

body {
	margin: 50px 0 0 calc(var(--aside-width) + 30px);
	font-family: Cambria, Georgia, Times;
	background-image: url(../Recursos/back_img.jpg);
	background-size: 350px;
}

main {
	margin: 10px;
	padding-block: 20px;
	border-radius: 30px;
	background-color: #ffffffe6;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

footer {
	margin: 10px;
	padding: 10px;
	border-radius: 30px;
	background-color: #e3c2f2e6;

	p {
		margin: 0px 0px 0px 50px;
	}
}

header h1 {
	margin: 0px;
	padding: 5px 50px;
	border-radius: 40px;
	background-color: #f2e3c2;
	font-size: 2.2em;
	text-decoration: underline;
}

aside {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px 15px;
	background-image: linear-gradient(#79978e,
			#92b5aa 0.25%,
			var(--aside-color) 1%);
	height: 100%;
	width: var(--aside-width);
	transition: all 0.5s;

	&:has(#hidden:checked) {
		left: calc((-1) * (30px + var(--aside-width)));
	}

	section {
		position: relative;
		top: -20px;
		cursor: pointer;
	}
}

#menuLogo {
	position: relative;
	left: calc(15px + var(--aside-width));
	width: 30px;
	height: 30px;
	display: flex;
	padding: 5px;
	border-radius: 0px 8px 8px 0px;
	background-color: var(--aside-color);
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transform-origin: left;

	&:active {
		transition: transform 0.2s;
		transform: scale(0.8);
	}

	div {
		background-color: black;
		height: 2px;
		width: 100%;
		border-radius: 10px;
		transition: all 0.4s;
	}

	&:is(:hover, .hover) div {
		width: 80%;

		&:nth-child(2) {
			width: 0%;
		}

		&:first-child {
			transform: rotate(45deg) translate(6px, 6px);
		}

		&:last-child {
			transform: rotate(-45deg) translate(5px, -5px);
		}
	}
}

#hidden {
	display: none;

	&:checked+#menuLogo:hover div {
		&:first-child {
			width: 50%;
			transform: rotate(45deg) translate(2.5px, 2px);
		}

		&:nth-child(2) {
			transform: translate(5px);
		}

		&:last-child {
			width: 50%;
			transform: rotate(-45deg) translate(2.5px, -2px);
		}
	}
}

#headerMenu {
	top: -30px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	transition: all 0.15s;

	&:is(:hover, .hover) {
		transform: scale(120%);
	}

	~section {
		width: calc(100% - 10px);
		margin-left: 5px;
		transition: all 0.15s;
		background-color: var(--aside-color);

		&:not([id]) {
			margin-left: 25px;

			.animation-allowed & {
				animation: courtain 0.8s ease-out;
			}

			&:hover {
				transform: scale(110%) translate(-5px);
				margin-bottom: 5px;
			}
		}

		&::after {
			content: '';
			display: block;
			background-color: black;
			height: 1px;
			width: 0%;
			margin: auto;
			transition: width 0.3s ease 30ms;
		}

		&:hover {
			transform: scale(120%);

			&::after {
				width: 100%;
			}
		}
	}
}

@keyframes courtain {
	from {
		transform: translateY(-20px);
	}

	to {
		transform: translateY(0);
	}
}

#home,
#edit {
	left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

section#edit {
	background-color: transparent;
	position: absolute;
	width: 90px;
	top: 95px;
	left: 20px;
	transition: all 0.15s, top 0.8s ease-out 100ms;
}

:is(#home, #edit)::before {
	position: relative;
	left: -5px;
	content: '';
	vertical-align: -2px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-size: cover;
}

#home::before {
	background-image: url('../Recursos/home.png');
}

#edit::before {
	background-image: url('../Recursos/pencil.png');
}

:is(#home, #edit)::after {
	position: relative;
	left: -5px;
}

dialog {
	width: 80%;
	box-sizing: content-box;
	border: none;
	border-radius: 5px;
	box-shadow: -10px -10px lightgreen, 10px 10px lightsalmon, 0 0 50px black;
	visibility: hidden;
	animation: bounce 0.7s ease-in-out 0.2s forwards;
}

dialog:not(#security) {
	* {
		margin-block: 7px;
	}

	li:not(:last-child) {
		margin-bottom: 25px;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
		text-decoration: underline;
	}

	.sub-title {
		--shade-color: white;
		font-size: small;
		font-weight: bolder;
		font-style: italic;
		color: lightseagreen;
		filter: drop-shadow(0 0 1px var(--shade-color)) drop-shadow(0 0 1px var(--shade-color)) drop-shadow(0 0 1px var(--shade-color)) drop-shadow(0 0 1px var(--shade-color)) drop-shadow(0 0 1px var(--shade-color)) drop-shadow(0 0 1px var(--shade-color));
		text-align: center;
		width: max-content;
		margin: auto;
	}

	.back {
		z-index: -1;
		position: absolute;
		inset: 0;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		filter: blur(1px) opacity(40%) saturate(70%);
	}
}

@keyframes bounce {
	from {
		transform: scale(0);
	}

	60% {
		transform: scale(120%);
	}

	80% {
		transform: scale(80%);
	}

	to {
		transform: scale(100%);
		visibility: visible;
	}
}

#security {
	box-shadow: -10px -10px lightblue, 10px 10px lightcoral, 0 0 50px black;
}

form {
	display: flex;
	flex-direction: column;
	gap: 5px;

	>* {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

#editForm {
	width: 80%;
	max-width: 800px;
	min-width: min-content;

	> :not(:last-child) {
		border-bottom: gray 1px dotted;
		padding-bottom: 5px;
	}

	label {
		margin-left: 10px;
	}
}

section:has(> #preview) {
	display: flex;
	align-items: center;
	height: 1.3rem;
	background-color: white;
	border: 1px solid gray;
	border-radius: 2.5px;
}

#preview {
	display: none;
	height: 100%;
	aspect-ratio: 1 / 1;
}

input {
	&:focus {
		background-color: lightyellow;
	}

	&[correct] {
		background-color: lightgreen;
	}

	&[incorrect] {
		background-color: lightcoral;
	}
}

article#hide {
	flex-direction: column;

	>* {
		width: 100%;
		margin-block: 5px;
		display: flex;
		justify-content: space-between;
	}
}

hr {
	width: 100%;
}

#gallery {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;

	section {
		position: relative;
		height: 4rem;
		border-radius: 25px;
		background-color: rgba(128, 128, 128, 0.3);

		.bgnd {
			width: 100%;
			height: 100%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			filter: blur(1px) opacity(50%) saturate(70%);
		}

		.title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			z-index: 10;
			opacity: 70%;
			font-size: 1.25em;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
		}
	}
}


textarea {
	font-family: Arial;
}